{
    "presets": [
      ["@babel/preset-env", {"modules": false}],
      "@babel/preset-react",
      ["env", {
          "modules": false
      }]
    ],
    "plugins": [
      "react-hot-loader/babel",
      ["transform-imports", {
        "react-bootstrap": {
          "transform": "react-bootstrap/lib/${member}",
          "preventFullImport": true
        },
        "lodash": {
          "transform": "lodash/${member}",
          "preventFullImport": true
        }
      }]
    ],
    "env": {
      "production": {
        "presets": ["minify"]
      },
      "test": {
        "presets": ["@babel/preset-env", "@babel/preset-react"]
      }
    }
}